<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright © 2025 NeuroChat. All rights reserved.

     This software is proprietary and confidential. Unauthorized copying, modification,
     distribution, or use of this software is strictly prohibited.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

</manifest>